@mixin input-placeholder {
    &::-ms-input-placeholder {
        color: transparent;
    }
    &::-webkit-input-placeholder {
        color: transparent;
    }
    &::-moz-placeholder {
        color: transparent;
    }
}